<!DOCTYPE html>
<html lang="en-US" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LanChat Login</title>
        <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <script src="angular/angular.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <form class="navbar-form form-inline pull-right" role="sign-in" name="loginForm">
                   <div class="form-group">
                      <label class="sr-only" for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Email" name="userEmail" ng-model="userEmail">
                   </div>
                  <div class="form-group">
                      <label class="sr-only" for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" name="userPassword" ng-model="userPassword">
                  </div>
                 <div class="checkbox">
                      <label><input type="checkbox"><span style="color:white;">Remember me</span></label>
                   </div>
                  <button type="submit" class="btn btn-info">Sign in</button>
              </form>
            </div>
        </nav>
        <br>
        <br>
        <br>

        <div class="container">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-8">
                    <h1>Sign Up</h1>
                    <br>
                    <br>
                    <form class="form-horizontal" role="form" name="signUpForm" ng-app="signUpApp" ng-controller="validateCtrl" novalidate>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" ng-model="firstname" required>
                                <span style="color:red;" ng-show="signUpForm.firstname.$touched && signUpForm.firstname.$invalid" >
                                    <span ng-show="signUpForm.firstname.$error.required">First Name is required</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" ng-model="lastname" required>
                                <span style="color:red;" ng-show="signUpForm.lastname.$touched && signUpForm.lastname.$invalid" >
                                    <span ng-show="signUpForm.lastname.$error.required">Last Name is required</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="email" required>
                                <span style="color:red;" ng-show="signUpForm.email.$touched && signUpForm.email.$invalid">
                                    <span ng-show="signUpForm.email.$error.required">Email is required.</span>
                                    <span ng-show="signUpForm.email.$error.email">Invalid Email address.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="password" required>
                                <span style="color:red;" ng-show="signUpForm.password.$touched && signUpForm.password.$invalid" >
                                    <span ng-show="signUpForm.password.$error.required">Password is required</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.firstname.$touched && signUpForm.firstname.$invalid || signUpForm.email.$touched && signUpForm.email.$invalid || signUpForm.lastname.$touched && signUpForm.lastname.$invalid || signUpForm.password.$touched && signUpForm.password.$invalid || signUpForm.firstname.$untouched || signUpForm.lastname.$untouched || signUpForm.email.$untouched || signUpForm.password.$untouched">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="row-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p style="padding:10px;"></p>
                        <p align=center>© Copyright 2016,Wakar Ahemad Khan</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="control.js"></script>
</html>